
<h2>LOGIN PAGE</h2>


<form action="/login">
  <fieldset>
    <legend>Login to your account:</legend>
    Eail:<br>
    <input type="text" name="email" value="Please enter you email address">
    <br>
    Password:<br>
    <input type="text" name="[assword]" value="Password">
    <br><br>
    <input type="submit" value="Login">
  </fieldset>
</form>

