<h2>Register your free account</h2>


<form action="/register" method = "POST">
  <fieldset>
    <legend>Personal information:</legend>
    First Name:<br>
    <input type="text" name="fname" value="Frist Name">
    <br>
    Last Name:<br>
    <input type="text" name="lname" value="Last Name">
    <br>
    Email Address:<br>
    <input type="text" name="email_address" value="you@gmail.com">
    <br>
    First Name:<br>
    <input type="text" name="password" value="Password">
    <br>
    Confirm Password:<br>
    <input type="text" name="c_password" value=" Confrim Password">
    <br><br>
    <input type="submit" value="Register">
  </fieldset>
</form>

